/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

$distance-half-primary: 4px;
$distance-primary: 9px;
$brand-primary: #000000;
$brand-primary-a1: rgba(0,0,0,1);
$brand-primary-a0: rgba(0,0,0,0);
